.wrapper {
    width: 1000px;
    height: 100vh;
    border: 5px solid green($color: #000000);
    margin: 0 auto;
}

.header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    a {
        font-size: 16px;
        margin-right: 10px;

        &:not(.active) {
            color: white;
        }
    }
}
.weather {
    color: teal;
    display: flex;
    font-size: 16px;
    line-height: 22px;

    &_info {
        padding: 0;
        margin: 10px 10px 0 0;
        list-style-type: none;
        text-align: right;

        & li {
            padding: 0;
            margin: 0;
           
        }
    }
}

.active {
    color: teal;
    font-weight: 700;
}

.animated-box {
    width: 100px;
    height: 100px;
    margin-top: 200px;
}

.rotate {
    animation: rotateAnimation 3s ease-in-out infinite;
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
